@charset "utf-8";

/*clearfixの設定*/
.clearfix:after
{
	visibility:hidden;
	height: 0;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
}
* html .clearfix			{zoom: 1; }
*:first-child+html .clearfix{zoom: 1; }

/*領域なし非表示の設定*/
.none
{
	display: none !important;
}
/*領域あり非表示の設定*/
.hidden
{
	visibility: hidden !important;
}
/*未完成部分に横棒*/
.incomp
{
	text-decoration: line-through;
	opacity: 0.3;
}


/***************************************************************/
/*ベース設定*/
/***************************************************************/

/*リンク文字の設定*/
a:link
{
	/*color: #00f;*/
	/*color: #506dbf;*/
	color: #205ddc;
}
a:active
{
	/*color: #ae5dff;*/
	color: #009eff;
}
a:visited
{
	/*color: #ae5dff;*/
	color: #205ddc;
}
a:hover
{
	/*color: #f0f;*/
	color: #009eff;
}

/*リスト要素の先頭のマーカーをリセット*/
ul,ol
{
	list-style: none;
}

/*h1は太字にしない*/
/*h2はとりあえずそのままで*/
h1
{
	font-weight: normal;
}

/*div要素は横に並べる*/
div
{
	display: inline-block;
	_display: inline;
}

/*サイト全体の基本情報の設定*/
html
{
	/*overflow: auto;*/
}
body
{
	line-height: 1.45;
	font-size: 1.05em;
	color: #323;

	width: 100%;

	background: #fff;
	background-image:url(../img/bg.png);
	background-repeat:repeat;

	font-family: 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;

	/*iPhone系で文字サイズが自動調整されるのを防ぐ*/
	-webkit-text-size-adjust: 100%;
}

iframe
{
	display: block;
}

.center
{
	width: 1280px;
	display: block;
	margin: 0 auto;
}

/***************************************************************/
/*ヘッダーの設定*/
/***************************************************************/

#header
{
	width: 100%;
	border-bottom: none;
	display: block;
}

/***************************************************************/
/*ヘッダーフリースペース*/
#header-freespace
{
	height: 85px;

/*	-webkit-box-shadow: 0px 4px 5px #eee inset, 0px -2px 10px #eee inset;
	-moz-box-shadow: 0px 4px 5px #eee inset, 0px -2px 10px #eee inset;
	box-shadow: 0px 4px 5px #eee inset, 0px -2px 10px #eee inset;*/

}
#header-freespace div
{
	display: table-cell;
}

#hf-left
{
	width: 410px;
	text-align: center;
	vertical-align: middle;
}
#hf-left span
{
	border: 3px solid #aaaaaa;
}
#hf-contents
{
	/*width: 680px;*/
	width: 460px;
	height: 85px;
	text-align: center;
	vertical-align: middle;
	font-size: 1.4em;
	background-image:url(../img/hf-frame.png);
	background-size: 100%;
	background-repeat: no-repeat;
}
#hf-contents a
{
	 text-decoration: none;
}
#hf-sns
{
	width: 410px;
}
#hf-sns #hf-sns-bar
{
	display: inline-block;
	padding-top: 10px;
	padding-left: 135px;
}
#hf-sns-bar *
{
	width: 107px;
	display: inline-block;
	float: left;
}
iframe.twitter-share-button
{
	width: 101px !important;
}
div#___plusone_0
{
	width: 60px !important;
}
div#___plusone_0 iframe
{
	width: 60px !important;
}


/***************************************************************/
/*ヘッダーナビゲーションバー*/
#header-navi
{
	width: 100%;
	min-width: 1280px;
	/*height: 52px;*/
	display: block;
	/*background: rgba(255, 255, 255, 0.5);*/
	/*background: #3498db;
	background: #CBD9ED;
	background: #B2CAEC;
	background: #113B88;
	background: #0A2659;
	background: #011438;
	background: #222;*/
	background: #252525;

	position: relative;
	z-index: 2;


	/*アニメーション*/
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
#header .follow
{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
}
#followblank
{
	/*width: 1280px;*/
	width: 100%;
	height: 52px;
	display: block;
	left: 0;
}
#followblank a
{
	width: 100px;
	height: 20px;
	float: right;
	margin-top: 32px;
	/*margin: 22px 7px 10px 1073px;*/
	display: inline-block;
	font-size: 0.8em;
	color: #333;
	opacity: 0;
}
#followblank a:active
{
	opacity: 1;
}

#hn-logo, #hn-nav, #hn-right
{
	display: table-cell;
}
#hn-logo
{
	width: 142px;
	height: 52px;
	vertical-align: middle;
	/*border-left:  1px solid #555;*/
}
#hn-logo img
{
	vertical-align: top;
	width: 142px;
	height: 52px;
}

#hn-nav
{
	/*width: 945px;*/
	width: 994px;
	vertical-align: middle;
}
#hn-nav ul
{
	height: 100%;
	vertical-align: bottom;
	width: 994px;
	display: inline-table;
	table-layout: fixed;
}
#hn-nav ul li
{
	display: table-cell;
	/*width: 142px;*/
	height: 52px;
	text-align: center;
	/*font-weight: bold;*/
	border-left:  1px solid #555;

	/*アニメーション*/
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
#hn-nav ul li a
{
	text-decoration: none;
	/*color: #333;*/
	color: #eee;
	display: block;
	width: 100%;
	height: 24px;
	padding: 14px 0;
	/*text-shadow: 0 -1px 0px #225588,0 -2px 0px #225588;*/ /*右、下、ぼかし、影の色*/
	/*text-shadow: 0 1px 0px #225588,0 2px 0px #225588;*/
}

#hn-right
{
	height: 52px;
	text-align: center;
	width: 141px;
	border-left: 1px solid #555;
	/*border-right: 1px solid #555;*/
}
#hn-right span
{
	/*display: inline-block;*/
	display: block;
	width: 141px;
	height: 26px;
	/*borderをサイズに含める*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #fff;
	font-size: 0.9em;
}
#hn-right span:first-child
{
	border-bottom: 1px solid #555;
}
#hn-right a
{
	width: 100%;
	display: inline-block;
	vertical-align: bottom;
	text-decoration: none;
	color: #fff;
	font-size: 0.9em;
	padding-top: 3px;
}
#hn-right p
{
	padding-top: 3px;
}
/*ヘッダーナビゲーションバー終了*/
/***************************************************************/


/***************************************************************/
/*大型画像の設定*/
/***************************************************************/

#mainpic
{
	/*width: 1280px;*/
	/*height: 380px;*/

	width: 100%;
	text-align: center;
}
#mainpic img
{
	vertical-align: top;

	width: 100%;
	max-width: 2000px;
	min-width: 1280px;
	height: auto;
}


/***************************************************************/
/*サブコンテンツの設定*/
/***************************************************************/
#subcontents
{
	width: 1280px;
	height: 220px;
	display: table;
}
#subcontents aside, article
{
	display: table-cell;
}

#subcontents aside
{
	width: 378px;
	vertical-align: middle;
}
#subcontents aside span
{
	display: block;
	text-align: center;
}
#subcontents aside img
{
	vertical-align: top;
	width: 340px;
	height: 180px;
	border-radius: 10px;
}
#ad-left
{
	margin-left: 2px;
}
#ad-right
{
	margin-right: 2px;
}


#subcontents article
{
	width: 524px;
	/*vertical-align: middle;*/
	padding-top: 20px;
	text-align: center;
}
#update-info
{
	height: 180px;
	width: 524px;
	/*borderをサイズに含める*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 10px;

	/*background: rgba(210, 206, 206, 0.6);*/
	/*background: #f4f2f2;*/
	background: #f5f7f8;
	text-align: left;

	behavior: url("ie-css3.htc");
}
#update-info h1
{
	font-size: 1.2em;
	height: 29px;
	display: block;
	padding: 6px 0 2.7px 20px;
	border-bottom: 3px solid #ccc;

	/*background: #2a3240;*/
	background: #404D54;
	color: #fff;
	/*border-top-left-radius: 10px;*/
	/*border-top-right-radius: 10px;*/

	border-radius: 10px 10px 0 0;

	position: relative;
	z-index: 1;
	behavior: url("ie-css3.htc");
}
#update-info h1:before
{
	content: "#";
}
#update-info ul
{
	padding: 10px 22px 0px 22px;
	height: 120px;
	overflow-y: auto;
	overflow-x: hidden;
}
#update-info ul li
{
	/*font-size: 0.9em;*/
}
#update-info ul li h2
{
	width: 100%;
	display: block;
	line-height: 1em;
}
#update-info ul li h2:before
{
	content: "- ";
}
#update-info ul li h2 a
{
	text-decoration: none;
}
#update-info ul li time
{
	/*font-size: 0.9em;*/
	display: inline-block;
	/*width: 480px;*/
	width: 502px;
	margin-left: -22px;
	padding-right: 22px;

	text-align: right;
	/*border-bottom: 1px solid #333;*/
	border-bottom: 1px dashed #ccc;
	margin-bottom: 10px;
	line-height: 1em;
	/*background: #fff;*/
}
#update-info ul li:last-child time
{
	margin-bottom: 0px;
}


/***************************************************************/
/*ステータスバーの設定*/
/***************************************************************/
#statusbarArea
{
	width: 100%;
	min-width: 1280px;
}
#statusbar
{
	width: 100%;
	max-width: 2000px;
	display: block;
	margin: 5px auto;
	/*borderをサイズに含める*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	background: #2a3240;

	color: #eee;
}
#statusbarinner
{
	padding-left: 20px;
}



/***************************************************************/
/*メインコンテンツの設定*/
/***************************************************************/
#maincontents
{
	width: 1280px;
	display: table;
	padding-bottom: 25px;
}
#maincontents div
{
	/*borderをサイズに含める*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#mc-side, #mc-main
{
	display: table-cell;
	vertical-align: top;
}
#mc-side
{
	width: 378px;
	padding: 20px 18px 20px 20px;
}
#mc-main
{width: 902px;}
#maincontents .contentsbox
{
	border-radius: 10px;
	/*background: rgba(210, 206, 206, 0.6);*/
	/*background: rgba(240, 236, 236, 0.6);*/
	background: rgb(235, 237, 238);

	behavior: url("ie-css3.htc");
}
.contentsbox h1
{
	/*borderをサイズに含める*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 7px 0 3px 20px;
	border-bottom: 3px solid #ccc;
	font-size: 1.4em;
	width: 100%;

	background: #2a3240;
	/*border-top-left-radius: 10px;*/
	/*border-top-right-radius: 10px;*/

	border-radius: 10px 10px 0 0;
	position: relative;
	z-index: 1;
	behavior: url("ie-css3.htc");
	color: #fff;
}
.contentsbox h1:before
{
	content: "#";
}
.contentsbox h2
{
	/*borderをサイズに含める*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 5px;
	border-bottom: 3px solid #ccc;
	font-size: 1.4em;
	line-height: 1.2;
	/*width: 100%;*/
	margin: 0 15px;

	/*background: #2a3240;*/
	/*color: #fff;*/
}
.contentsbox p
{
	margin: 12px 22px;
}
.contentsbox h1, .contentsbox p, .contentsbox h2, .contentsbox dt, .contentsbox dd
{
	/*androidのページの自動調整対策hack*/
	/*background-image: url(androidhack.gif);*/
}

#mc-side div, #mc-main div
{
	display: block;
}
#mc-side .contentsbox
{
	width: 340px;
}
#mc-main .contentsbox
{
	width: 882px;
	display: inline-block;
	margin-top: 20px;
}
.contentsbox article
{
	display: block;
}

/*個々の設定*/
/*連絡先情報*/

/*左サイドバー*/
#linkinpage h1:before
{
	content: '−';
}
#linkinpage li:before
{
	content: '├';
	padding-right: 5px;
}
#linkinpage li:last-child:before
{
	content:  "└";
}
#linkinpage ul
{
	padding: 12px 22px 12px 1em;
}
#linkinpage a
{
	text-indent: -1.0em;
	padding-left: 5px;
	color: #323;
	text-decoration: none;
}
#linkinpage a:hover
{
	text-decoration: underline;
}


#mc-side .mc-banner
{
	text-align: center;
	background: #f5f7f8;
	border-radius: 10px;
}
#mc-side .mc-banner h1
{
	text-align: left;
	/*#34495e*/
	/*background: #44495e;*/
	/*background: rgb(17%, 22%, 27%);比*/
	background: #404D54;
	color: #fff;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.mc-banner ul
{
	padding-top: 15px;
}
.mc-banner ul li
{
	padding-bottom: 10px;
}
.mc-banner img
{
	width: 280px;
	height: 115px;
}
#mc-sponsors
{
	margin-top: 20px;
}

/*中央メイン*/
#summary
{
	margin-top: 20px;
}
#summary p
{
	padding-bottom: 5px;
	border-bottom: 1px solid #555;
}
#summary dl
{
	margin: 12px 22px;
}

#summary dt, dd
{
	display: inline-block;
}
#summary dt:after
{
	content: "：";
}
#summary .s-list
{
	display: inline-block;
	margin-top: 2px;
}
#s-attention dd
{
	margin-left: 1em;
	text-indent: -1em;
}
#s-attention dd:before
{
	content: "・";
}

#mc-address img
{
	vertical-align: top;
	float: left;
	padding: 12px 0px 12px 22px;
}
#mc-address address
{
	width: 695px;
	padding: 12px 15px 12px 0px;
	float: left;
}
#mc-address h2
{
	padding-left: 10px;
	padding-bottom: 5px;
	margin: 0 0 0 15px;
}
#mc-address dl
{
	padding-left: 30px;
	padding-right: 15px;
	/*padding: 10px 0 10px 20px;*/
}
#mc-address dt, dd
{
	display: inline-block;
}
#mc-address dt:after
{
	content: "：";
}
#mc-address dd a
{
	display: inline-block;
	text-decoration: none;
}
#mc-address dd span
{
	padding-left: 1em;
}

#mc-main div#mc-facebook.contentsbox
{
	width: 524px;
	padding-bottom: 5px;
	background: #fff;
	border: 1px solid #edeff4;
	border-top-left-radius: 11px;
	border-top-right-radius: 11px;
}
#mc-main div#twitter.contentsbox
{
	width: 340px;
	/*margin-left: 18px;*/
	margin-right: 20px;
	float: right;
}

#newtheme
{
	display: block;
	/*font-size: 1.7em;*/
	text-align: center;
	font-style: italic;
	margin: 5px 0;
}


/***************************************************************/
/*フッターの設定*/
/***************************************************************/
#footer
{
	width: 100%;
	height: 29px;
	color: #eee;
	/*background: #303030;*/
	background: #2a3240;
	font-size: 0.9em;
}
#globalfooter
{
	width: 1240px;
	margin: 0 auto;
	height: 100%;
	padding-left: 20px;
	padding-right: 20px;
	display: block;
}

#footer-navi
{
	height: 100%;
	float: left;
	display: inline-table;
}
#footer-navi ul
{
	/*width: 540px;*/
	height: 100%;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
#footer-navi ul li
{
	/*width: 180px;*/
	display: table-cell;
	padding: 0 10px;
}
#footer-navi a
{
	color: #eee;
	text-decoration: none;
}
#footer-navi .fn-list
{
	border-right: 1.5px solid #666;
}

#copyright
{
	height: 100%;
	float: right;
	display: inline-table;
}
#copyright p
{
	height: 18px;
	display: table-cell;
	vertical-align: middle;
}

#pagetop
{
	position: fixed;
	bottom: -100px;
	right: 20px;
	font-size: 0.9em;
	z-index: 100;
}
#pagetop a
{
	background: #666;
	text-decoration: none;
	color: #fff;
	width: 100px;
	padding: 30px 0;
	text-align: center;
	display: block;
	border-radius: 5px;
}
#pagetop a:hover
{
	text-decoration: none;
}

#footer-sitemap
{
	/*width: 900px;*/
	width: 800px;
	float: left;
	padding: 20px 0 0 15px;
}
#footer-sitemap div
{
	vertical-align: top;
}
#footer-sitemap .fs-list
{
	/*borderをサイズに含める*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-right: 3px dashed #555;
}
#footer-sitemap dl
{
	width: 180px;
	height: 245px;
	padding-top: 10px;
}
#footer-sitemap dt
{
	padding: 3px 0;
}
#footer-sitemap dt:before
{
	content: "▶";
	padding-right: 2px;
}
#footer-sitemap dd
{
	/*text-indent: 1.5em;*/
	padding: 3px 0 3px 1.5em;
	display: block;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/***************************************************************/
/*詳細ページ*/
/***************************************************************/
#toppic
{
	width: 100%;
	text-align: center;
	padding: 20px 0;
}
#toppic img
{
	vertical-align: top;
	width: 100%;
	height: auto;
}

#mc-side #twitter
{
	margin-top: 20px;
}
#mc-side #mc-facebook
{
	margin-top: 20px;
}
#mc-side #mc-topic
{
	margin-top: 20px;
}
#mc-topic
{
	background: transparent!important;
	overflow: hidden;
}
#mc-side #mc-topic.mc-side-first
{
	margin-top: 0;
}
#mc-topic ul
{
	width: 310px;
	height: 220px;
	border: 15px solid #F5F7F8;
	padding: 0;
	position: relative;
	background: rgba(255, 255, 255, 0.8);
}
#mc-topic li
{
	position: absolute;
	padding: 0;
}
#mc-topic li
{
	opacity: 0.6;
	border: 1px solid #F5F7F8;

/*	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;*/

	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;

}
#mc-topic li:hover
{
	opacity: 1;
	border-color: #2A3240;
}
#mc-topic li:nth-of-type(1):hover
{
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	transform: rotate(0deg);
}
#mc-topic li:nth-of-type(2):hover
{
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	transform: rotate(0deg);
}
#mc-topic li:nth-of-type(3):hover
{
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	transform: rotate(0deg);
}
#mc-topic li:nth-of-type(1)
{
	top: 20px;
	left: 30px;
	-webkit-transform: rotate(-10deg);
	-moz-transform: rotate(-10deg);
	transform: rotate(-10deg);

	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
#mc-topic li:nth-of-type(2)
{
	top: 80px;
	left: 170px;
	-webkit-transform: rotate(15deg);
	-moz-transform: rotate(15deg);
	transform: rotate(15deg);

	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
#mc-topic li:nth-of-type(3)
{
	top: 130px;
	left: 40px;
	-webkit-transform: rotate(5deg);
	-moz-transform: rotate(5deg);
	transform: rotate(5deg);

	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
#mc-topic img
{
	width: 120px;
	height: 70px;
	vertical-align: top;
}
#mc-topic li span
{
	padding: 0;
	margin: 0;
	display: inline-block;
}


/***************************************************************/
/*freshman.html*/
/***************************************************************/
#mc-main #welcomeMessage p
{
	text-indent: 1em;
	margin-top: 5px;
	margin-bottom: 0px;
}
#mc-main #welcomeMessage p:first-of-type
{
	margin-top: 12px;
}
#mc-main #welcomeMessage span
{
	float: right;
	margin: 12px 22px 12px 0px;
}
#mc-main #welcomeInfo ul
{
	margin: 12px 22px 12px 22px;
	position: relative;
}
#welcomeInfo ul li
{
	margin-top: 8px;
}
#welcomeInfo ul time
{
	padding-right: 10px;
}
#welcomeInfo ul img
{
	position: absolute;
	height: 40px;
	width: 40px;
}
#welcomeInfo img#fin1
{
	top: -10px;
	left: 100px;
	-webkit-transform: rotate(30deg);
	-moz-transform: rotate(30deg);
	transform: rotate(30deg);
}
#welcomeInfo img#fin2
{
	top: 20px;
	left: 105px;
	-webkit-transform: rotate(10deg);
	-moz-transform: rotate(10deg);
	transform: rotate(10deg);
}
#welcomeInfo img#fin3
{
	top: 60px;
	left: 95px;
	-webkit-transform: rotate(20deg);
	-moz-transform: rotate(20deg);
	transform: rotate(20deg);
}
#welcomeInfo #note
{
	border-top: 1px solid #ccc;
	margin: 0px 22px 12px 22px;
}
#welcomeInfo #note p
{
	margin: 12px 0 12px 0;
	text-indent: 1em;
}
#clubroomInfo table
{
	margin: 12px 0 15px 22px;
}
#clubroomInfo table th, #clubroomInfo table td
{
	width: 100px;
	height: 25px;
	text-align: center;
	font-weight: normal;
}
#clubroomInfo table tr
{
	background: #fff;
}
#clubroomInfo table th
{
	background: #404D54;
	color: #fff;
}
#clubroomInfo table tr th, #clubroomInfo table tr td
{
	border-right: 1px solid #000;
}
#clubroomInfo table tr th:last-child, #clubroomInfo table tr td:last-child
{
	border-right: none;
}
#clubroomInfo table tr:first-child th
{
	border-bottom: 1px solid #000;
}
#admission p
{
	text-indent: 1em;
}


/***************************************************************/
/*contact.html*/
/***************************************************************/
#contactForm form
{
	margin: 12px 22px;
}
#contactForm input[type=text]
{
	border: none;
	font-size: 0.9em;
	padding: 3px;
	margin-top: 3px;
	margin-bottom: 12px;
}
#contactForm textarea
{
	border: none;
	font-size: 0.9em;
	padding: 3px;
	margin-top: 3px;
	margin-bottom: 12px;
}
#contactForm input[type=submit]
{
	background: #fff;
	border: 1px solid #EBEDEE;
	font-size: 1em;
	cursor: pointer;
	border-radius: 5px;
	margin-bottom: 8px;

	padding: 0;
	height: 26px;
	width: 60px;

	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
#contactForm input[type=submit]:hover
{
	border: 1px solid #2A3240;
}



/***************************************************************/
/*mailform.php*/
/***************************************************************/
#mailform ,#mailfrom header
{
	width: 100%;
	min-width: 600px;
}
#mailform header #toppic
{
	width: 100%;
}
#mailform header #toppic img
{
	width: 100%;
	max-width: 1280px;
	height: auto;
	margin: 0 auto;
}
#mailform #container
{
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;

	padding: 0 20px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#mailform .contentsbox
{
	width: 100%;
	max-width: 1280px;
	min-width: 600px;
	margin: 0 auto;
	border-radius: 10px;
	background: rgb(235, 237, 238);

	behavior: url("ie-css3.htc");
}
#inputCheck
{
	width: 100%;
}
#inputCheck p:first-child
{
	margin-bottom: 20px;
}
#inputCheck p.error_messe
{
	text-indent: 1em;
}
#inputCheck p.error_messe:before
{
	content: "・";
	padding-right: 5px;
}
#inputCheck input
{
	background: #fff;
	border: 1px solid #EBEDEE;
	font-size: 1em;
	cursor: pointer;
	border-radius: 5px;
}
#inputCheck input[type=button]
{
	/*margin: 8px 22px 12px 22px;*/
	margin: 12px 22px 15px 22px;
	padding: 0;
	height: 26px;
	width: 60px;

	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
#inputCheck input[type=button]:hover
{
	border: 1px solid #2A3240;
}
#inputCheck input[type=submit]
{
	margin: 12px 0px 15px 0px;
	padding: 0;
	height: 26px;
	width: 90px;

	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
#inputCheck input[type=submit]:hover
{
	border: 1px solid #2A3240;
}
#inputCheck form
{
	width: 100%;
	padding: 0px 22px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#inputCheck table
{
	/*margin: 12px 22px;*/
	margin: 12px 0px;
	width: 100%;
}
#inputCheck table td
{
	background: #fff;
	padding: 10px 15px;
	display: table-cell;
	width: 100%;
	max-width: 986px;
	word-wrap: break-word;
}
#inputCheck table .l_Cel
{
	background: #404D54;
	color: #fff;
	width: 150px;
}
#inputCheck table tr
{
	width: 100%;
	display: table;
	table-layout: fixed;
	border-bottom: 1px solid #555555;
}
#inputCheck table tr:last-child
{
	border-bottom: none;
}
#refresh5 a
{
	text-decoration: none;
}