@charset "utf-8";

/*clearfixの設定*/
.clearfix:after
{
	visibility:hidden;
	height: 0;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
}
* html .clearfix			{zoom: 1; }
*:first-child+html .clearfix{zoom: 1; }

/*領域なし非表示の設定*/
.none
{
	display: none!important;
}
/*領域あり非表示の設定*/
.hidden
{
	visibility: hidden!important;
}
/*未完成部分に横棒*/
.incomp
{
	text-decoration: line-through!important;
	opacity: 0.3;
}

/*pタグインデントなし設定*/
.noIndent
{
	text-indent: 0!important;
}

/*強調設定*/
span.strong
{
	font-weight: bold!important;
	color: #E60012!important;
}


/***************************************************************/
/*ベース設定*/
/***************************************************************/

/*リンク文字の設定*/
a
{
	text-decoration: none;
}
a:link
{
	color: #205ddc;
}
a:active
{
	color: #009eff;
}
a:visited
{
	color: #205ddc;
}
a:hover
{
	color: #009eff;
}

/*リスト要素の先頭のマーカーをリセット*/
/*ul, ol*/
ul
{
	list-style: none;
}

/*h1は太字にしない*/
/*h2はとりあえずそのままで*/
h1
{
	font-weight: normal;
}

/*div要素は横に並べる*/
div
{
	display: inline-block;
	_display: inline;
}

/*サイト全体の基本情報の設定*/
html
{}
body
{
	line-height: 1.45;
	font-size: 1.05em;
	color: #323;

	width: 100%;

	background: #fff;
	background-image:url(../img/bg.png);
	background-attachment: fixed;
	background-repeat:repeat;

	font-family: 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;

	/*iPhone系で文字サイズが自動調整されるのを防ぐ*/
	-webkit-text-size-adjust: 100%;
}

iframe
{
	display: block;
}

.center
{
	width: 1280px;
	display: block;
	margin: 0 auto;
}

/***************************************************************/
/*ヘッダーの設定*/
/***************************************************************/

#header
{
	width: 100%;
	border-bottom: none;
	display: block;
}

/***************************************************************/
/*ヘッダーフリースペース*/
#header-freespace
{
	height: 85px;
}
#header-freespace div
{
	display: table-cell;
}

#hf-left
{
	width: 410px;
	text-align: center;
	vertical-align: middle;
}
#hf-left span
{
	border: 3px solid #aaaaaa;
}
#hf-contents
{
	width: 460px;
	height: 85px;
	text-align: center;
	vertical-align: middle;
	font-size: 1.4em;
	background-image:url(../img/hf-frame.png);
	background-size: 100%;
	background-repeat: no-repeat;
}
#hf-contents span
{
	font-size: 40px;
	vertical-align: -4px;
	padding: 0 5px;
	font-weight: bold;
}
#hf-contents a
{
	 text-decoration: none;
}
#hf-sns
{
	width: 410px;
}
#hf-sns #hf-sns-bar
{
	display: inline-block;
	padding-top: 10px;
	padding-left: 135px;
	padding-left: 124px;
}
#hf-sns-bar *
{
	width: 107px;
	width: 118px;
	display: inline-block;
	float: left;
}
iframe.twitter-share-button
{
	width: 101px !important;
}
div#___plusone_0
{
	width: 60px !important;
}
div#___plusone_0 iframe
{
	width: 60px !important;
}


/***************************************************************/
/*ヘッダーナビゲーションバー*/
#header-navi
{
	width: 100%;
	min-width: 1280px;
	/*height: 52px;*/
	display: block;
	background: #252525;

	position: relative;
	z-index: 2;


	/*アニメーション*/
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
#header .follow
{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
}
#followblank
{
	width: 100%;
	height: 52px;
	display: block;
	left: 0;
}
#followblank a
{
	width: 100px;
	height: 20px;
	float: right;
	margin-top: 32px;
	display: inline-block;
	font-size: 0.8em;
	color: #333;
	opacity: 0;
}
#followblank a:active
{
	opacity: 1;
}

#hn-logo, #hn-nav, #hn-right
{
	display: table-cell;
}
#hn-logo
{
	width: 142px;
	height: 52px;
	vertical-align: middle;
}
#hn-logo img
{
	vertical-align: top;
	width: 142px;
	height: 52px;
}

#hn-nav
{
	width: 994px;
	vertical-align: middle;
}
#hn-nav ul
{
	height: 100%;
	vertical-align: bottom;
	width: 994px;
	display: inline-table;
	table-layout: fixed;
}
#hn-nav ul li
{
	display: table-cell;
	height: 52px;
	text-align: center;
	border-left:  1px solid #555;

	/*アニメーション*/
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
#hn-nav ul li a
{
	text-decoration: none;
	color: #eee;
	display: block;
	width: 100%;
	height: 24px;
	padding: 14px 0;
}

#hn-right
{
	height: 52px;
	text-align: center;
	width: 141px;
	border-left: 1px solid #555;
}
#hn-right span
{
	display: block;
	width: 141px;
	height: 26px;
	/*borderをサイズに含める*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #eee;
	font-size: 0.9em;
}
#hn-right span:first-child
{
	border-bottom: 1px solid #555;
}
#hn-right a
{
	width: 100%;
	display: inline-block;
	vertical-align: bottom;
	text-decoration: none;
	color: #eee;
	font-size: 0.9em;
	padding-top: 3px;
}
#hn-right p
{
	padding-top: 3px;
}
/*ヘッダーナビゲーションバー終了*/
/***************************************************************/


/***************************************************************/
/*大型画像の設定*/
/***************************************************************/

#mainpic
{
	width: 100%;
	text-align: center;
}
#mainpic img
{
	vertical-align: top;

	width: 100%;
	max-width: 2000px;
	min-width: 1280px;
	height: auto;
}


/***************************************************************/
/*サブコンテンツの設定*/
/***************************************************************/
#subcontents
{
	width: 1280px;
	height: 220px;
	display: table;
}
#subcontents aside, article
{
	display: table-cell;
}

#subcontents aside
{
	width: 378px;
	vertical-align: middle;
}
#subcontents aside span
{
	display: block;
	text-align: center;
}
#subcontents aside img
{
	vertical-align: top;
	width: 340px;
	height: 180px;
	border-radius: 10px;
}
#ad-left
{
	margin-left: 2px;
}
#ad-right
{
	margin-right: 2px;
}


#subcontents article
{
	width: 524px;
	padding-top: 20px;
	text-align: center;
}
#update-info
{
	height: 180px;
	width: 524px;
	/*borderをサイズに含める*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 10px;

	background: #f5f7f8;
	text-align: left;

	behavior: url("ie-css3.htc");
}
#update-info h1
{
	font-size: 1.2em;
	height: 29px;
	display: block;
	padding: 6px 0 2.7px 20px;
	border-bottom: 3px solid #ccc;

	background: #404D54;
	color: #fff;

	border-radius: 10px 10px 0 0;

	position: relative;
	z-index: 1;
	behavior: url("ie-css3.htc");
}
#update-info h1:before
{
	content: "#";
}
#update-info ul
{
	padding: 10px 22px 0px 22px;
	height: 120px;
	overflow-y: auto;
	overflow-x: hidden;
}
#update-info ul li
{
	position: relative;
}
#update-info ul li h2
{
	width: 100%;
	display: block;
	line-height: 1em;
}
#update-info ul li h2:before
{
	content: "- ";
}
#update-info ul li h2 a
{
	text-decoration: none;
}
#update-info h2 a .topSpace
{
	padding-left: 13px;
	line-height: 1.6em;
}
#update-info ul li time
{
	display: inline-block;
	width: 502px;
	margin-left: -22px;
	padding-right: 22px;

	text-align: right;
	border-bottom: 1px dashed #ccc;
	margin-bottom: 10px;
	line-height: 1em;
}
#update-info ul li:last-child time
{
	margin-bottom: 0px;
}
#update-info #addedNew, #update-info #addedImp
{
	font-weight: bold;
	color: #E60012;
	letter-spacing: 1px;
	position: absolute;
	top: -15px;
	right: 90px;
}
#update-info #addedNew > div, #update-info #addedImp > div
{
	font-size: 1.2em;
	height: 40px;
	background: #00f;
	position: relative;
}
#update-info #addedNew div div, #update-info #addedImp div div
{
	padding-left: 1px;
	position: absolute;
}

/*NEW*/
#update-info #addedNew div div:nth-of-type(1)
{
	top: 19px;
	padding-left: 5px;
}
#update-info #addedNew div div:nth-of-type(2)
{
	top: 19px;
	left: 22px;
}
#update-info #addedNew div div:nth-of-type(3)
{
	top: 19px;
	left: 37px;
}
#update-info #addedNew div div:nth-of-type(4)
{
	top: 19px;
	left: 62px;
}
#update-info #addedNew div div:nth-of-type(5)
{
	top: 19px;
	left: 72px;
}
#update-info #addedNew div div:nth-of-type(6)
{
	top: 19px;
	left: 82px;
}

/*募集中*/
#update-info #addedImp div div:nth-of-type(1)
{
	top: 19px;
	padding-left: 5px;
}
#update-info #addedImp div div:nth-of-type(2)
{
	top: 19px;
	left: 25px;
}
#update-info #addedImp div div:nth-of-type(3)
{
	top: 19px;
	left: 45px;
}
#update-info #addedImp div div:nth-of-type(4)
{
	top: 19px;
	left: 68px;
}
#update-info #addedImp div div:nth-of-type(5)
{
	top: 19px;
	left: 80px;
}
#update-info #addedImp div div:nth-of-type(6)
{
	top: 19px;
	left: 90px;
}

/***************************************************************/
/*ステータスバーの設定*/
/***************************************************************/
#statusbarArea
{
	width: 100%;
	min-width: 1280px;
}
#statusbar
{
	width: 100%;
	max-width: 2000px;
	display: block;
	margin: 5px auto;
	/*borderをサイズに含める*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	background: #2a3240;

	color: #eee;
}
#statusbarinner
{
	padding-left: 20px;
}



/***************************************************************/
/*メインコンテンツの設定*/
/***************************************************************/
#maincontents
{
	width: 1280px;
	display: table;
	padding-bottom: 25px;
}
#maincontents div
{
	/*borderをサイズに含める*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#mc-side, #mc-main
{
	display: table-cell;
	vertical-align: top;
}
#mc-side
{
	width: 378px;
	padding: 20px 18px 20px 20px;
}
#mc-main
{width: 902px;}
#maincontents .contentsbox
{
	border-radius: 10px;
	background: rgb(235, 237, 238);

	behavior: url("ie-css3.htc");
}
.contentsbox h1
{
	/*borderをサイズに含める*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 7px 0 3px 20px;
	border-bottom: 3px solid #ccc;
	font-size: 1.4em;
	width: 100%;

	background: #2a3240;

	border-radius: 10px 10px 0 0;
	position: relative;
	z-index: 1;
	behavior: url("ie-css3.htc");
	color: #fff;
}
.contentsbox h1:before
{
	content: "#";
}
.contentsbox h2
{
	/*borderをサイズに含める*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 5px;
	border-bottom: 3px solid #ccc;
	font-size: 1.4em;
	line-height: 1.2;
	/*width: 100%;*/
	margin: 0 15px;
}
.contentsbox p
{
	margin: 12px 22px;
}
.contentsbox h1, .contentsbox p, .contentsbox h2, .contentsbox dt, .contentsbox dd
{
	/*androidのページの自動調整対策hack*/
	/*background-image: url(androidhack.gif);*/
}

#mc-main .contentsbox p
{
	text-indent: 1em;
}

#mc-side div, #mc-main div
{
	display: block;
}
#mc-side .contentsbox
{
	width: 340px;
}
#mc-main .contentsbox
{
	width: 882px;
	display: inline-block;
	margin-top: 20px;
}
.contentsbox article
{
	display: block;
}

/*個々の設定*/
/*連絡先情報*/

/*左サイドバー*/
#linkinpage h1
{
	text-indent: -16px;
	padding-left: 36px;
}
#linkinpage h1:before
{
	content: '−';
}
#linkinpage li:before
{
	content: '├';
	padding-right: 5px;
}
#linkinpage li:last-child:before
{
	content:  "└";
}
#linkinpage ul
{
	padding: 12px 22px 12px 1em;
}
#linkinpage ul ul
{
	padding: 0px 0px 0px 1.5em;
}
#linkinpage a
{
	text-indent: -1.0em;
	padding-left: 5px;
	color: #323;
	text-decoration: none;
}
#linkinpage a:hover
{
	font-weight: bold;
}


#mc-side .mc-banner
{
	text-align: center;
	background: #f5f7f8;
	border-radius: 10px;
}
#mc-side .mc-banner h1
{
	text-align: left;
	background: #404D54;
	color: #fff;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.mc-banner ul
{
	padding-top: 15px;
}
.mc-banner ul li
{
	padding-bottom: 10px;
}
.mc-banner img
{
	width: 280px;
	height: 115px;
}
#mc-sponsors
{
	/*margin-top: 20px;*/
	margin-top: 0;
}

/*中央メイン*/
#summary
{
	margin-top: 20px;
}
#summary p
{
	padding-bottom: 5px;
	border-bottom: 1px solid #555;
}
#summary dl
{
	margin: 12px 22px;
}

#summary dt,
#summary dd
{
	display: inline-block;
}
#summary dt:after
{
	content: "：";
}
#summary .s-list
{
	display: inline-block;
	margin-top: 2px;
}
#s-attention dd
{
	margin-left: 1em;
	text-indent: -1em;
}
#s-attention dd:before
{
	content: "・";
}

#announce
{
	margin-top: 20px;
}

#mc-address img
{
	vertical-align: top;
	float: left;
	padding: 12px 0px 12px 22px;
}
#mc-address address
{
	width: 695px;
	padding: 12px 15px 12px 0px;
	float: left;
}
#mc-address h2
{
	padding-left: 10px;
	padding-bottom: 5px;
	margin: 0 0 0 15px;
	font-style: normal;
}
#mc-address dl
{
	padding-left: 30px;
	padding-right: 15px;
}
#mc-address dt,
#mc-address dd
{
	display: inline-block;
	font-style: normal;
}
#mc-address dt:after
{
	content: "：";
}
#mc-address dd a
{
	display: inline-block;
	text-decoration: none;
}
#mc-address dd span
{
	padding-left: 1em;
}

#mc-main div#mc-facebook.contentsbox
{
	width: 524px;
	padding-bottom: 5px;
	background: #fff;
	border: 1px solid #edeff4;
	border-top-left-radius: 11px;
	border-top-right-radius: 11px;
}
#mc-main div#twitter.contentsbox
{
	width: 340px;
	margin-right: 20px;
	float: right;
}

#newtheme
{
	display: block;
	text-align: center;
	font-style: italic;
	margin: 5px 0;
}


/***************************************************************/
/*フッターの設定*/
/***************************************************************/
#footer
{
	width: 100%;
	min-width: 1280px;
	height: 29px;
	color: #eee;
	background: #2a3240;
	font-size: 0.9em;
}
#globalfooter
{
	width: 1240px;
	margin: 0 auto;
	height: 100%;
	padding-left: 20px;
	padding-right: 20px;
	display: block;
}

#footer-navi
{
	height: 100%;
	float: left;
	display: inline-table;
}
#footer-navi ul
{
	height: 100%;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
#footer-navi ul li
{
	display: table-cell;
	padding: 0 10px;
}
#footer-navi a
{
	color: #eee;
	text-decoration: none;
}
#footer-navi .fn-list
{
	border-right: 1.5px solid #666;
}

#copyright
{
	height: 100%;
	float: right;
	display: inline-table;
}
#copyright p
{
	height: 18px;
	display: table-cell;
	vertical-align: middle;
}

#pagetop
{
	position: fixed;
	bottom: -100px;
	right: 0px;
	z-index: 100;
	background: url("../img/mohumohu/mohumohu.png");
}
#pagetop a
{
	width: 100px;
	height: 118px;
	opacity: 0;
	display: block;
	cursor: default;
	background: url("../img/mohumohu/mohumohu_hover.png");
}
#pagetop a:hover
{
	text-decoration: none;
}

#footer-sitemap
{
	width: 800px;
	float: left;
	padding: 20px 0 0 15px;
}
#footer-sitemap div
{
	vertical-align: top;
}
#footer-sitemap .fs-list
{
	/*borderをサイズに含める*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-right: 3px dashed #555;
}
#footer-sitemap dl
{
	width: 180px;
	height: 245px;
	padding-top: 10px;
}
#footer-sitemap dt
{
	padding: 3px 0;
}
#footer-sitemap dt:before
{
	content: "▶";
	padding-right: 2px;
}
#footer-sitemap dd
{
	padding: 3px 0 3px 1.5em;
	display: block;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/***************************************************************/
/*詳細ページ*/
/***************************************************************/
#toppic
{
	width: 100%;
	text-align: center;
	padding: 20px 0;
}
#toppic img
{
	vertical-align: top;
	width: 100%;
	height: auto;
}

#mc-side #twitter
{
	margin-top: 20px;
}
#mc-side #mc-facebook
{
	margin-top: 20px;
}
#mc-side #mc-topic
{
	margin-top: 20px;
}
#mc-topic
{
	background: transparent!important;
	overflow: hidden;
}
#mc-side #mc-topic.mc-side-first
{
	margin-top: 0;
}
#mc-topic ul
{
	width: 310px;
	height: 220px;
	border: 15px solid #F5F7F8;
	padding: 0;
	position: relative;
	background: rgba(255, 255, 255, 0.8);
}
#mc-topic li
{
	position: absolute;
	padding: 0;
}
#mc-topic li
{
	opacity: 0.6;
	border: 1px solid #F5F7F8;
	border-radius: 6px;

	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;

}
#mc-topic li:hover
{
	opacity: 1;
	border-color: #2A3240;
}
#mc-topic li:nth-of-type(1):hover
{
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	transform: rotate(0deg);
}
#mc-topic li:nth-of-type(2):hover
{
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	transform: rotate(0deg);
}
#mc-topic li:nth-of-type(3):hover
{
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	transform: rotate(0deg);
}
#mc-topic li:nth-of-type(1)
{
	top: 20px;
	left: 30px;
	-webkit-transform: rotate(-8deg);
	-moz-transform: rotate(-8deg);
	transform: rotate(-8deg);

	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
#mc-topic li:nth-of-type(2)
{
	top: 80px;
	left: 170px;
	-webkit-transform: rotate(10deg);
	-moz-transform: rotate(10deg);
	transform: rotate(10deg);

	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
#mc-topic li:nth-of-type(3)
{
	top: 140px;
	left: 40px;
	-webkit-transform: rotate(5deg);
	-moz-transform: rotate(5deg);
	transform: rotate(5deg);

	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
#mc-topic img
{
	width: auto;
	height: auto;
	vertical-align: top;
}
#mc-topic li span
{
	padding: 0;
	margin: 0;
	display: inline-block;
}

#greetings #greetingfrom
{
	float: right;
	text-indent: 0;
	margin-top: 0;
}
#greetings #greetingfrom span
{
	float: right;
}
#greetings p #representativeImg
{
	float: right;
	padding-left: 22px;
}
#greetings p #representativeImg img
{
	width: 180px;
	border-radius: 10px;
	float: left;
}


/***************************************************************/
/*404.html*/
/***************************************************************/
#notFound ,#mailfrom header
{
	width: 100%;
	min-width: 600px;
}
#notFound header #toppic
{
	width: 100%;
}
#notFound header #toppic img
{
	width: 100%;
	max-width: 1280px;
	height: auto;
	margin: 0 auto;
}
#notFound #container
{
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;

	padding: 0 20px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#notFound .contentsbox
{
	width: 100%;
	max-width: 1280px;
	min-width: 600px;
	margin: 0 auto;
	border-radius: 10px;
	background: rgb(235, 237, 238);

	behavior: url("ie-css3.htc");
}


/***************************************************************/
/*about.html*/
/***************************************************************/
#greetings #ourstart
{
	font-size: 1.4em;
	font-style: italic;
}

#logoConceptImg
{
	float: left;
	padding-right: 15px;
}
#logoConceptImg img
{
	height: 150px;
	height: 150px;
	vertical-align: top;
	float: left;
}
#outlineContents
{
	padding: 12px 22px;
}
#outlineContents dt
{
	vertical-align: top;
}
#outlineContents dt, #outlineContents dd
{
	display: inline-block;
}
#outlineContents dt:after
{
	content: "：";
}

#outlineContents .s-list
{
	display: inline-block;
	margin-top: 20px;
}

#outlineContents .s-list dt, #outlineContents .s-list dd
{
	width: 100%;
}
#outlineContents .s-list dt:after
{
	content: none;
}
#outlineContents .s-list h2
{
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 12px;
}

#outlineContents .s-list img
{
	padding-left: 5px;
	float: left;
	/*vertical-align: top;*/
}
#outlineContents .s-list h3
{
	padding-left: 5px;
	border-bottom: 1px solid #aaa;
	margin-left: 77px;
}
#outlineContents .s-list p
{
	margin: 10px 5px 10px 82px;
}
#outlineContents .s-list dd:last-child p
{
	margin-bottom: 0;
}

#feslink
{
	margin-top: 20px;
}


/***************************************************************/
/*access.html*/
/***************************************************************/
section#getto #gettoContents
{
	padding: 12px 22px;
}
#gettoContents p
{
	margin-left: 0;
	margin-right: 0;
	text-indent: 0!important;
}
#gettoContents h2, #gettoContents h3
{
	margin-left: -7px;
	margin-right: -7px;
}
#gettoContents h3
{
	border-bottom: 1px solid #555;
	padding-left: 7px;
}
#gettoContents p:first-child
{
	margin-top: 0;
}
#gettoContents img
{
	width: auto;
	height: auto;
	margin: 10px 0px 30px 20px;
}
#byBus
{
	margin-bottom: 30px;
}
#byBus li
{
	padding-left: 1em;
	margin-bottom: 10px;
}
#byBus li:last-child
{
	margin-bottom: 0;
}
#byBus li img, #byTrain dd img
{
	height: 25px;
	width: 25px;
	margin: 0;
	padding-right: 5px;
	vertical-align: -4px;
}
#byTrain h2
{
	margin-bottom: 12px;
}
#byTrain dl
{
	margin: 12px 0;
}
#byTrain dl:last-child
{
	margin-bottom: 0;
}
#byTrain dt
{
	margin-bottom: 5px;
}
#byTrain dt:before
{
	display: inline-block;
	content: "＞";
	font-size: 0.5em;
	vertical-align: 3px;
	padding-right: 5px;
}
#byTrain dd
{
	padding-left: 1em;
	margin-bottom: 15px;
}
#byTrain dd:last-child
{
	margin-bottom: 0;
}

#vicinityMap p span
{
	padding-left: 1.5em;
}
#vicinityMap iframe
{
	margin: 12px 22px 15px 22px;
}


/***************************************************************/
/*contact.html*/
/***************************************************************/
#contactForm form
{
	margin: 12px 22px;
}
#contactForm label:before
{
	content: "◇";
}
#contactForm input[type=text]
{
	border: none;
	font-size: 0.9em;
	padding: 3px;
	margin-top: 3px;
	margin-bottom: 12px;
}
#contactForm textarea
{
	border: none;
	font-size: 0.9em;
	padding: 3px;
	margin-top: 3px;
	margin-bottom: 12px;
	resize: vertical;
}
#contactForm input[type=submit]
{
	background: #fff;
	border: 1px solid #EBEDEE;
	font-size: 1em;
	cursor: pointer;
	border-radius: 5px;
	margin-bottom: 8px;

	padding: 0;
	height: 26px;
	width: 60px;

	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
#contactForm input[type=submit]:hover
{
	border: 1px solid #2A3240;
}
#contactForm + hr
{
	margin: 0px 20px;
	border-top: 1px solid #aaa;
}
#contactNotice p
{
	padding-left: 1em;
	text-indent: -1em!important;
}


/***************************************************************/
/*design_compe.html*/
/***************************************************************/
#compeDetail
{
	position: relative;
}
#compeDetail div.inner
{
	opacity: 0.5;
}
#compeDetail h1
{
	opacity: 0.5;
}

#compeDetail #compeEnd
{
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: absolute;
	text-align: center;
}
#compeDetail #compeEnd p
{
	width: 100%;
	position: absolute;
	top: 50%;
	margin: 0;
	/*margin-top: -84px;*/
	margin-top: -95px;
	font-size: 50px;
	color: #e60012;
}
#compeDetail div.inner
{
	padding: 12px 22px;
}
#compeDetail div.inner p
{
	margin: 0px;
	margin-top: 10px;
}
#compeDetail dt
{
	font-weight: bold;
	margin-top: 5px;
	font-size: 1.2em;
}
#compeDetail dt:first-child
{
	margin-top: 0;
}
#compeDetail dt:before
{
	content: "・";
}
#compeDetail dd
{
	padding-left: 1.2em;
}
#compeDetail table
{
	margin-top: -6px;
	margin-bottom: -6px;
}
#compeDetail table tr:first-child
{
	height: 60px;
	/*border-bottom: 1px solid #ccc;*/
}
#compeDetail table tr:last-child
{
	height: 37px;
}
#compeDetail table tr
{
	/*border-bottom: 1px solid #ccc;*/
}
#compeDetail table tr th, #compeDetail table tr td
{
	vertical-align: middle;
}
#compeDetail table th
{
	width: 220px;
	font-weight: normal;
	text-align: left;
}
#compeDetail table th:after
{
	float: right;
	content: ":";
}
#compeDetail table td
{
	padding-left: 30px;
}
#compeSummary a
{
	width: 300px;
	height: 205px;
	display: inline-block;
	margin-left: 22px;
	background: #205ddc;
}
#compeSummary img
{
	width: 300px;
	height: auto;
	float: left;
}
#compeSummary img:hover
{
	opacity: 0.9;
}
#compeSummary span
{
	padding-left: 2.4em;
}
#logoDL #logoMaterial
{
	vertical-align: middle;
}
#logoDL #logoMaterial a:before
{
	content: url("../img/zipIcon.png");
	vertical-align: -3px;
	padding-right: 3px;
}
#logoDL ul
 {
 	margin-top: -10px;
 	margin-left: 65px;
 }
#logoDL li:before
{
	content: '├';
	padding-right: 3px;
}
#logoDL li:last-child:before
{
	content:  "└";
}
#logoDL p:last-child
{
	margin-top: 22px;
}

#compeCover
{
	margin: 22px 0 0 0;
	text-align: center;
}
#compeCover div
{
	width: 250px;
	height: 350px;
	margin-left: 316px;
	background: #ccc;
}
#compeCover img
{
	height: 350px;
	margin-top: 12px;
	border: 5px groove #999;
}
#compeAward #compeAchiever
{
	width: 100%;
	margin: 16px 0;
	font-size: 1.4em;
	text-align: center;
}
#compeAward #compeAchiever span
{
	font-size: 50px;
}
#compeAward #compeComment
{
	padding: 0px 90px 10px 90px;
	font-style: italic;
	text-indent: 0;
}




/***************************************************************/
/*event.html*/
/***************************************************************/
#missmister img
{
	width: 400px;
	height: 562px;
	float: left;
	padding-bottom: 5px;
}
#missmister img:last-child
{
	margin-left: 38px;
}
#entryEnd span
{
	display: inline-block;
	width: 400px;
	text-align: center;
	color: #e60012;
	float: left;
}
#entryEnd span:last-child
{
	margin-left: 38px;
}

#planIntro
{
	width: 882px;
	margin-top: 30px;
}
#planIntro ul li
{
	width: 294px;
	display: inline-block;
	float: left;
	text-align: center;
}

#planIntro button
{
	width: 240px;
	height: 44px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;

	margin: 5px 0;
	border: none;
	border-radius: 10px;
	color: #fff;
	background: #2a3240;

	font-size: 1.4em;

	position: relative;
	z-index: 1;
	behavior: url('ie-css3.htc');
}

#planIntro button:hover
{
	width: 246px;
	height: 50px;
	margin: 2px 0;
	border: 3px solid #ccc;
}




/***************************************************************/
/*freshman.html*/
/***************************************************************/
#mc-main #welcomeMessage p
{
	text-indent: 1em;
	margin-top: 5px;
	margin-bottom: 0px;
}
#mc-main #welcomeMessage p:first-of-type
{
	margin-top: 12px;
}
#mc-main #welcomeMessage span
{
	float: right;
	margin: 12px 22px 12px 0px;
}
#mc-main #welcomeInfo ul
{
	margin: 12px 22px 12px 22px;
	position: relative;
}
#welcomeInfo ul li
{
	margin-top: 8px;
}
#welcomeInfo ul time
{
	padding-right: 10px;
}
#welcomeInfo ul img
{
	position: absolute;
	height: 40px;
	width: 40px;
}
#welcomeInfo img#fin1
{
	top: -10px;
	left: 100px;
	-webkit-transform: rotate(30deg);
	-moz-transform: rotate(30deg);
	transform: rotate(30deg);
}
#welcomeInfo img#fin2
{
	top: 20px;
	left: 105px;
	-webkit-transform: rotate(10deg);
	-moz-transform: rotate(10deg);
	transform: rotate(10deg);
}
#welcomeInfo img#fin3
{
	top: 60px;
	left: 95px;
	-webkit-transform: rotate(20deg);
	-moz-transform: rotate(20deg);
	transform: rotate(20deg);
}
#welcomeInfo #note
{
	border-top: 1px solid #ccc;
	margin: 0px 22px 12px 22px;
}
#welcomeInfo #note p
{
	margin: 12px 0 12px 0;
	text-indent: 1em;
}
#clubroomInfo table
{
	margin: 12px 0 15px 22px;
}
#clubroomInfo table th, #clubroomInfo table td
{
	/*default*/
	/*width: 100px;*/
	width: 90px;
	height: 25px;
	text-align: center;
	font-weight: normal;
}
#clubroomInfo table tr
{
	background: #fff;
}
#clubroomInfo table th
{
	background: #404D54;
	color: #fff;
}
#clubroomInfo table tr th, #clubroomInfo table tr td
{
	border-right: 1px solid #000;
}
#clubroomInfo table tr th:last-child, #clubroomInfo table tr td:last-child
{
	border-right: none;
}
#clubroomInfo table tr:first-child th
{
	border-bottom: 1px solid #000;
}
#admission p
{
	text-indent: 1em;
}


/***************************************************************/
/*mailform.php*/
/***************************************************************/
#mailform ,#mailfrom header
{
	width: 100%;
	min-width: 600px;
}
#mailform header #toppic
{
	width: 100%;
}
#mailform header #toppic img
{
	width: 100%;
	max-width: 1280px;
	height: auto;
	margin: 0 auto;
}
#mailform #container
{
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;

	padding: 0 20px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#mailform .contentsbox
{
	width: 100%;
	max-width: 1280px;
	min-width: 600px;
	margin: 0 auto;
	border-radius: 10px;
	background: rgb(235, 237, 238);

	behavior: url("ie-css3.htc");
}
#inputCheck
{
	width: 100%;
}
#inputCheck p:first-child
{
	margin-bottom: 20px;
}
#inputCheck p.error_messe
{
	text-indent: 1em;
}
#inputCheck p.error_messe:before
{
	content: "・";
	padding-right: 5px;
}
#inputCheck input
{
	background: #fff;
	border: 1px solid #EBEDEE;
	font-size: 1em;
	cursor: pointer;
	border-radius: 5px;
}
#inputCheck input[type=button]
{
	/*margin: 8px 22px 12px 22px;*/
	margin: 12px 22px 15px 22px;
	padding: 0;
	height: 26px;
	width: 60px;

	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
#inputCheck input[type=button]:hover
{
	border: 1px solid #2A3240;
}
#inputCheck input[type=submit]
{
	margin: 12px 0px 15px 0px;
	padding: 0;
	height: 26px;
	width: 90px;

	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
#inputCheck input[type=submit]:hover
{
	border: 1px solid #2A3240;
}
#inputCheck form
{
	width: 100%;
	padding: 0px 22px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#inputCheck table
{
	/*margin: 12px 22px;*/
	margin: 12px 0px;
	width: 100%;
}
#inputCheck table td
{
	background: #fff;
	padding: 10px 15px;
	display: table-cell;
	width: 100%;
	max-width: 986px;
	word-wrap: break-word;
}
#inputCheck table .l_Cel
{
	background: #404D54;
	color: #fff;
	width: 150px;
}
#inputCheck table tr
{
	width: 100%;
	display: table;
	table-layout: fixed;
	border-bottom: 1px solid #555555;
}
#inputCheck table tr:last-child
{
	border-bottom: none;
}
#refresh5sec a
{
	text-decoration: none;
}


/***************************************************************/
/*participant.html*/
/***************************************************************/
#entryAgreement a:before
{
	content: url("../img/pdfIcon.png");
	vertical-align: -3px;
	padding-right: 3px;
}
#handoutList,
#handoutList2
{
	margin-top: -10px;
	padding: 0px 22px 0px 22px;
}
#handoutList ol,
#handoutList2 ol
{
	margin: 3px 0px 3px 42px;
}
#handoutList ul li:before,
#handoutList2 ul li:before
{
	content: "-";
	padding-right: 3px;
}

/*終了した第一回総会*/
#meeting1st > h1, #meeting1st > p, #meeting1st > div,
#meeting2nd > h1, #meeting2nd > p, #meeting2nd > div
{
	opacity: 0.5;
}

#meeting1st p img,
#meeting2nd p img,
#meetingfinal p img
{
	width: 838px;
	height: auto;
	float: left;
	padding-bottom: 5px;
}

#documentsDL .inner,
#documentsDL2 .inner,
#documentsDLf .inner
{
	padding: 0px 22px 12px 40px;
}
#documentsDL .DLdoc,
#documentsDL2 .DLdoc,
#documentsDLf .DLdoc
{
	margin-bottom: 10px;
}
#documentsDL .DLdoc:last-child,
#documentsDL2 .DLdoc:last-child,
#documentsDLf .DLdoc:last-child
{
	margin-bottom: 0px;
}
#documentsDL a:before,
#documentsDL2 a:before,
#documentsDLf a:before
{
	content: url("../img/zipIcon.png");
	vertical-align: -3px;
	padding-right: 3px;
}
#documentsDL ul,
#documentsDL2 ul,
#documentsDLf ul
 {
 	margin-top: 2px;
 	margin-left: 25px;
 }
#documentsDL li:before,
#documentsDL2 li:before,
#documentsDLf li:before
{
	content: '├';
	padding-right: 3px;
}
#documentsDL li:last-child:before,
#documentsDL2 li:last-child:before,
#documentsDLf li:last-child:before
{
	content:  "└";
}


/***************************************************************/
/*privacypolicy.html*/
/***************************************************************/
#privacypolicy dl
{
	margin: 12px 22px;
	counter-reset: dtList;
}
#privacypolicy dt
{
	margin-top: 12px;
	font-weight: bold;
}
#privacypolicy dt:before
{
	counter-increment: dtList;
	content: counter(dtList) ".";
	padding-right: 5px;
}
#privacypolicy dd
{
	text-indent: 1em;
}
#privacypolicy #ppFooter
{
	padding-top: 10px;
}
#privacypolicy #enactment
{
	margin: 12px 22px;
	text-align: center;
}
#privacypolicy #enactment th
{
	font-weight: normal;
}
#privacypolicy #enactment th:after
{
	content: ":";
	float: right;
	padding-left: 12px;
	padding-right: 12px;
}
#privacypolicy #ppAddress
{
	padding-left: 1em;
	text-indent: -1em;
}
#privacypolicy ul
{
	list-style-type: square;
	list-style-position: inside;
	margin-top: 12px;
}
#privacypolicy ul li
{
	margin-left: 5px;
}


/***************************************************************/
/*search.html*/
/***************************************************************/
#searchinHP .innerContents
{
	padding: 12px 22px;
}
#searchinHP .innerContents p
{
	margin: 0;
}
form.sitesearch
{}

#searchinHP input[type=text]
{
	border: none;
	font-size: 0.9em;
	padding: 3px;
	margin-top: 3px;
	margin-bottom: 12px;
}
#searchinHP input[type=submit]
{
	background: #fff;
	border: 1px solid #EBEDEE;
	font-size: 1em;
	cursor: pointer;
	border-radius: 5px;
	margin-bottom: 8px;

	padding: 0;
	height: 26px;
	width: 60px;

	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
#searchinHP input[type=submit]:hover
{
	border: 1px solid #2A3240;
}

div#search_result > *
{
	margin: 10px;
}
div#sitesearch_next_result_button
{
	color: #205ddc;
	cursor: pointer;
	text-align: center;
	font-size: 0.9em;
	padding: 10px;
	background-color: #CCCCCC;
	border-radius: 5px;
}
div#sitesearch_next_result_button:hover
{
	color: #009eff;
}
#searchinHP div.sitesearch_hidden_result
{
	display: none;
}
p.search_result_stat
{
	padding: 5px 0px 5px 10px;
	text-indent: 0!important;
	background: #fff;
	margin-top: 22px!important;
}
p.search_default
{
	padding: 30px;
	text-align: center;
}
div.search_result_section
{
	clear: both;
	margin-bottom: 15px;
}
dl.search_result
{
	padding: 0px;
	margin: 0px;
}
dl.search_result_pickup
{
	padding: 0px 0px 0px 90px;
}
div.search_result_thumbnail
{
	width: 80px;
	height: 80px;
	float: left;
}
dl.search_result dt,dl.search_result_pickup dt
{
	margin: 0px;
}
dl.search_result dt:before ,dl.search_result_pickup dt:before
{
	display: inline-block;
	content: "＞";
	font-size: 0.5em;
	vertical-align: 3px;
	padding-right: 5px;
}
dl.search_result dd,dl.search_result_pickup dd
{
	width: 100%;
	margin-left: 10px;
	padding-left: 5px;
	border-bottom: 1px solid #ccc;
}
dl.search_result dd span,dl.search_result_pickup dd span
{
	color: #0E774A;
	display: block;
	font-size: 0.9em;
}


/***************************************************************/
/*support.html*/
/***************************************************************/
#fwFundraising p span
{
	font-weight: bold;
}
#fwFundraising #totalDonation
{
	margin: 12px 22px;
}
#fwFundraising #totalDonation dt,
#fwFundraising #totalDonation dd
{
	display: inline-block;
}
#fwFundraising #totalDonation dd
{
	margin-left: 12px;
	font-weight: bold;
}